@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

.logout{
    position: fixed;
    align-self: flex-end;
    top: 10px;
    right: 10px;
}
.logo-dashboard{
    color: coral;
    font-family: 'Caveat Brush', cursive;
}
.hello-msg{
    padding-top: 10%;
    color: #e4606d;
    text-align: center;
}
.images{
    padding: 30px;
    border-radius: 10px;
}