@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
.bg{
    background-color: #000000ef;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100vh;
}
.logo{
    color: coral;
    font-family: 'Caveat Brush', cursive;
    padding: 10%;
    padding-top: 3%;
    padding-bottom: 7%;
    
}
.link{
    font-style: italic;
    font-family: 'Caveat', cursive;
}
.link:hover{
    font-style: none;
    text-decoration: none;
    color: rgb(220, 20, 60);
}
.credits{
    color: bisque;
}
.fields{
    /* width: 15rem;
    margin-left: 4rem; */
    
}
.fields:hover,input:focus,textarea:hover,textarea:focus{
    border-bottom: solid rgb(220, 20, 60) thick;

}
.button{
    color: #e0d31c;
    background-color: rgb(220, 20, 60);
    border: none;
}
.button:hover{
    background-color: rgba(255, 255, 0, 0);
    border: solid rgb(220, 20, 60) thin;
    color: #e0d31c;
}
.form-container{
    color: white;
    background: hsla(167, 53%, 42%, 0.1);
    background-blend-mode: multiply;
    border-radius: 10px;
    padding : 30px;
    font-size: 1.3rem;
    box-shadow: 0px 0px 10px 0px #000;
}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.form-container{

}

}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {  }

